$colors: (
	"black": hsla(0, 0%, 0%, 0.842),
	"blue-electric": #1f53c5,
	"dark-blue": #24303c,
	"green": #4dad5b,
	"grey-blue": rgb(206, 206, 226),
	"grey": rgb(98, 98, 102),
	"light-grayish": #f2f2f2,
	"orange": #ee6b2f,
	"pale-orange": hsl(25, 100%, 94%),
	"very-dark-blue": rgb(5, 2, 49),
	"white": #FFFFFF,
    "red": #E31414,
	
);