@font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
    font-weight: bold;
}