@use "./ResetCss.scss";
@use "./_colors.scss" as c;
@use "./_fonts.scss";

body{
    font-family: 'Roboto';
}

//Estilo para modificar el btn-burguer
.bm-burger-bars {
    background-color: white;
  }

.red{
   color: map-get(c.$colors, "red");  
}

.router-link-exact-active {
    font-weight: bold;
    color: map-get(c.$colors, "red");  
}